/*
    @theme Lua Placeholder
    @placeholder Lua
    @author Bernhard Rosensteiner <brosensteiner@gmail.com>
*/
:not(lua.comment, lua.string) {
	spell-check: disabled;
}

lua.function-argument.io-read > lua.constant.numeric,
lua.string.quoted > lua.keyword.additional.PEG,
lua.function-argument.io-read > lua.string.quoted > lua.keyword.additional.io-read,
lua.function-argument.io-open > lua.string.quoted > lua.keyword.additional.io-open,
lua.function-argument.io-open > lua.string.quoted > lua.keyword.additional.io-popen,
lua.function-argument.io-popen > lua.string.quoted > lua.keyword.additional.io-popen,
lua.function-argument.file-setvbuf > lua.string.quoted > lua.keyword.additional.file-setbuf,
lua.function-argument.file-seek > lua.string.quoted > lua.keyword.additional.file-seek,
lua.function-argument.collectgarbage > lua.string.quoted > lua.keyword.additional.collectgarbage {
	color: #d44950;
}

lua.library-call,
lua.loop.body > lua.keyword.control.in + lua.language.word {
	font-weight: bold;
}

lua.local-function + lua.balanced.parentheses > lua.language.separator.comma,
lua.function.name + lua.balanced.parentheses > lua.language.separator.comma,
lua.loop.body > lua.language.separator.comma,
lua.function-argument > lua.language.separator.comma {
	color: #f93232;
}

lua.keyword.operator.call,
lua.function-call.table-key,
lua.punctuation.table-call {
	color: #7f7f7f;
	font-weight: bold;
}

lua.separator {
	color: #f93232;
}

lua.constant.math {
	color: #7653c1;
}

 lua.keyword.character-class {
 		color: #d44950;
 }