/*
    @theme Lua Placeholder
    @placeholder Lua
    @author Bernhard Rosensteiner <brosensteiner@gmail.com>
*/
:not(lua.comment, lua.string) {
	spell-check: disabled;
}

lua.function-argument.io-read > numeric,
lua.string > lua.keyword.other.PEG,
lua.function-argument.io-read > string > keyword.other.io-read,
lua.function-argument.io-open > string > keyword.other.io-open,
lua.function-argument.io-open > string > keyword.other.io-popen,
lua.function-argument.io-popen > string > keyword.other.io-popen,
lua.function-argument.file-setvbuf > string > keyword.other.file-setbuf,
lua.function-argument.file-seek > string > keyword.other.file-seek,
lua.function-argument.collectgarbage > string > keyword.other.collectgarbage {
	color: #d44950;
}

lua.keyword.control.for + :not(control) + comma,
lua.keyword.control.for + :not(control) + comma + :not(control) + comma,
lua.keyword.control.for + :not(control) + comma + :not(control) + comma + :not(control) + comma,
lua.keyword.control.for + :not(control) + comma  + :not(control) + comma + :not(control) + comma + :not(control) + comma,
lua.keyword.control.for + :not(control) + comma + :not(control) + comma  + :not(control) + comma + :not(control) + comma + :not(control) + comma,

lua.keyword.control.in + :not(control) + comma,
lua.keyword.control.in + :not(control) + comma + :not(control) + comma,
lua.keyword.control.in + :not(control) + comma + :not(control) + comma + :not(control) + comma,
lua.keyword.control.in + :not(control) + comma  + :not(control) + comma + :not(control) + comma + :not(control) + comma,
lua.keyword.control.in + :not(control) + comma + :not(control) + comma  + :not(control) + comma + :not(control) + comma + :not(control) + comma {
	color: hsl(0, 94%, 58%);
}