/*
    @theme Lua Placeholder
    @placeholder Lua
    @author Bernhard Rosensteiner <brosensteiner@gmail.com>
*/
:not(lua.comment, lua.string) {
	spell-check: disabled;
}

lua.function-argument.io-read > lua.constant.numeric,
lua.string.quoted > lua.keyword.additional.PEG,
lua.function-argument.io-read > lua.string.quoted > lua.keyword.additional.io-read,
lua.function-argument.io-open > lua.string.quoted > lua.keyword.additional.io-open,
lua.function-argument.io-open > lua.string.quoted > lua.keyword.additional.io-popen,
lua.function-argument.io-popen > lua.string.quoted > lua.keyword.additional.io-popen,
lua.function-argument.file-setvbuf > lua.string.quoted > lua.keyword.additional.file-setbuf,
lua.function-argument.file-seek > lua.string.quoted > lua.keyword.additional.file-seek,
lua.function-argument.collectgarbage > lua.string.quoted > lua.keyword.additional.collectgarbage {
	color: #d44950;
}

lua.local-function + lua.balanced.parentheses > lua.language.delimiter.comma,
lua.function.name + lua.balanced.parentheses > lua.language.delimiter.comma,
lua.loop.body > lua.language.delimiter.comma,
lua.function-argument > lua.language.delimiter.comma {
	color: #f93232;
}